@model IEnumerable<HulaQuanOriginal.ViewModels.HulaStatusViewModel>
@using HulaQuanOriginal.Helpers

<div class="jumbotron">
    <h1>Status Update</h1>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Get", "HulaMe", new { id = @item.PublisherId })"><img src="@item.PublisherPortraitUri" height="100" width="100"/></a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublisherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @foreach (var imageUri in item.ImageUris.Split(Constants.ImageStringSpliter)) {
                <a href="@imageUri"><img src="@imageUri.AppendSuffix(Constants.ImageThumpnailSuffix)" height="100" width="100"/></a>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishDate)
        </td>        
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
