@model IEnumerable<HulaQuanOriginal.ViewModels.FriendRequestViewModel>

@{
    ViewBag.Title = "Friend Requests";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>
<p>
    @Html.ActionLink("Add Friend", "Add") || @Html.ActionLink("My Friend", "Get")
</p>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(mi => item.FromUserName)
            </td>
            <td>
                <a href="@item.FromUserPictureUri" target="_blank">
                    <img width="90" height="90" src="@item.FromUserPictureUri" />
                </a>
            </td>
            <td>
                @if (item.Confirmed)
                {
                    @Html.DisplayText("Added")
                }
                else
                {
                    @Html.ActionLink("Confirm", "Confirm", new { id = item.Id })
                }
            </td>
        </tr>
    }
</table>
